{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Calculadora de IMC</title>
    <link rel="stylesheet" href="{% static 'calculadora/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-...REMOVIDO..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <main class="container">
        <h1>Calculadora de IMC</h1>

        {% if erro %}
        <div class="mensagem erro">{{ erro }}</div>
        {% endif %}

        <form method="post" class="formulario">
            {% csrf_token %}
            <input type="number" name="peso" step="0.01" min="1" placeholder="Peso em kg" required>
            <input type="number" name="altura" step="0.01" min="0.1" placeholder="Altura em metros" required>
            <button type="submit">Calcular</button>
        </form>

        {% if historico %}
        <br>
        <h2 class="titulo-historico">Últimos Cálculos</h2>
        <br>
        <ul>
            {% for item in historico %}
            <li>
                IMC: <strong>{{ item.imc|floatformat:2 }}</strong> - {{ item.classificacao}} <br>
                Peso: {{ item.peso }}kg / Altura: {{ item.altura }}m <br>
                Data: {{ item.data|date:"d/m/Y H:i" }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if resultado %}
        <div class="mensagem sucesso">
            <p>Seu IMC é: <strong>{{ resultado.imc|floatformat:2 }}</strong></p>
            <p>Classificação: <strong>{{ resultado.classificacao }}</strong></p>
        </div>
        {% endif %}
    </main>
    <footer class="footer">
        <p class="copyright">&copy; 2025 Eduardo Panage Avila. Todos os direitos reservados.</p>
        <div class="social-icons">
            <a href="https://wa.me/67996687261" target="_blank" aria-label="WhatsApp">
                <i class="fab fa-whatsapp"></i>
            </a>
            <a href="https://www.linkedin.com/in/eduardo-panage-avila-95ba41245/" target="_blank" aria-label="LinkedIn">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://www.instagram.com/eduardopanage_" target="_blank" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://github.com/EduPanage" target="_blank" aria-label="GitHub">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </footer>
</body>

</html>